[defaults]
inventory                = ~/automation/ansible-project/hosts
roles_path               = ~/automation/ansible-project/roles
host_key_checking        = false
deprecation_warnings     = false
interpreter_python       = auto_silent
remote_user              = n01017431

[privilege_escalation]
become          = true
become_method   = sudo
become_user     = root
become_ask_pass = false
